---
import StoreItem from "./Store-Item.astro";

---

<div class="store">
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
    <StoreItem />
</div>

<style lang="scss">
    .store {
        columns: 16rem auto;
        column-gap: 1rem;
    }
</style>