<a href="./phone-link" class="store-item">
    <img src="https://picsum.photos/300/400" alt="Phone" id="phone" />
    <h3>Pixel 6a</h3>
    <b>$399.99</b>
    <p>Pls don't take my phone away from me D:</p>
</a>

<style lang="scss">
    a {
        position: relative;
        display: flex;
        flex-direction: column;
        color: var(--text);
        text-decoration: none;
        border: 1px solid var(--variant);
        padding: 0.5rem;
        border-radius: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        break-inside: avoid;
        background-color: var(--bg);

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            transition: all 0.25s;
            background: var(--gradient);
            inset: 0.5rem;
        }

        &:hover::before {
            inset: -0.125rem;
            filter: var(--filter);
        }

        img {
            border-radius: 0.75rem;
        }
    }
</style>
