#checkout {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    border: none;
    color: var(--button-text);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.25s;
    font-size: 1.25rem;

    &:hover {
        box-shadow: 0 0 1rem 0 var(--item-bg);
    }
}

#cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: initial;
}


.cart-item {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 0.75rem;
    background-color: var(--item-bg);

    @media (max-width: 768px) {
        flex-direction: column;
    }

    img {
        max-width: 12rem;
        max-height: 16rem;
        border-radius: 0.5rem;
        object-fit: cover;
        align-self: center;
    }

    .details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        text-align: justify;

        button {
            width: fit-content;
            align-self: end;
            cursor: pointer;
            background: var(--bg);
            border: none;
            color: var(--button-text);
            padding: 0.5rem;
            border-radius: 0.5rem;
            transition: all 0.25s;

            &:hover {
                box-shadow: 0 0 1rem 0 var(--bg);
            }
        }

        h2 {
            margin-top: 0;
        }

        .price {
            position: absolute;
            align-self: flex-end;

            @media (max-width: 768px) {
                position: static;
                align-self: initial;
            }

            input {
                border: 1px solid var(--variant);
                border-radius: 0.5rem;
                background-color: var(--bg);
                padding: 0.5rem 0;
                color: var(--text);
                width: 3rem;
                text-align: center;
            }
        }

        p {
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (max-width: 768px) {
                white-space: nowrap;
            }
        }
    }
}