@use "colors";

// Root
* {
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui;
}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: -webkit-fill-available;
    min-height: 100vh;

    @supports (scroll-behavior: smooth) {
        scroll-behavior: smooth;
    }
}

html {
    height: -webkit-fill-available;
}

a {
    text-decoration: none;
}

// Scrollbar
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--variant);
    border-radius: 0.5rem;
    border: solid 0.375rem var(--bg);
}

// Custom styles
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.imei {
    text-decoration: underline;
}