@use "colors";

// Fonts
@import url("https://rsms.me/inter/inter.css");

// Root
* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

    @supports (font-variation-settings: normal) {
        font-family: "Inter var", sans-serif;
    }
}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: -webkit-fill-available;

    @supports (scroll-behavior: smooth) {
        scroll-behavior: smooth;
    }
}

html {
    height: -webkit-fill-available;
}

a {
    color: var(--text);
    text-decoration: none;
}

svg {
    fill: var(--text);
}

// Scrollbar
::-webkit-scrollbar {
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    background: var(--variant);
    border-radius: 0.5rem;
    border: solid 0.375rem var(--bg);
}
