.wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(1rem);
    z-index: 2;

    .popup {
        position: fixed;
        display: flex;
        border: 1px solid var(--variant);
        border-radius: 1rem;
        gap: 1rem;
        padding: 1rem;
        background-color: var(--item-bg);
        width: 88vw;
        max-width: 64rem;
        height: fit-content;
        max-height: 96vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 768px) {
            flex-direction: column;
        }

        img {
            object-fit: cover;
            border-radius: 0.75rem;

            @media (max-width: 768px) {
                height: 36vh;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: justify;

            p {
                max-height: 20vh;
                padding-right: 1rem;
                overflow: auto;

                @media (min-width: 768px) {
                    flex-grow: 1;
                    max-height: none;
                }
            }

            .purchase {
                display: flex;
                gap: 1rem;
                align-self: flex-end;
                align-items: center;
                font-size: 1.5rem;

                @media (max-width: 768px) {
                    flex-grow: 1;
                }

                button {
                    cursor: pointer;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }

                button[type="submit"] {
                    background: var(--gradient);
                    border: none;
                    color: var(--button-text);
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    transition: all 0.25s;

                    &:hover {
                        box-shadow: 0 0 1rem 0 var(--bg);
                    }
                }

                label {
                    font-size: 1rem;
                    cursor: text;
                }

                input {
                    border: 1px solid var(--variant);
                    border-radius: 0.5rem;
                    background-color: var(--bg);
                    padding: 0.5rem;
                    color: var(--text);
                    width: 4rem;
                    text-align: center;
                }
            }
        }

        .close {
            position: absolute;
            right: 0.75rem;
            top: 0.75rem;
            background-color: var(--item-bg);
            fill: var(--text);
            border: none;
            cursor: pointer;
            border-bottom-left-radius: 0.5rem;

            svg {
                height: 1.5rem;
            }
        }
    }
}
