---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 | OpenPhones" description="Not found">
    <main>
        <h1>Error 404: Not found</h1>
        <a href="/">Go back</a>
    </main>
</BaseLayout>

<style lang="scss">
    main {
        text-align: center;

        a {
            background: var(--gradient);
            color: var(--button-text);
            padding: 0.5rem;
            border-radius: 0.5rem;
            transition: all 0.25s;

            &:hover {
                box-shadow: 0 0 1rem 0 var(--item-bg);
            }
        }
    }
</style>
