---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404" description="Not found">
    <main>
        <h1>This content is not available in your country.</h1>
    </main>
</BaseLayout>

<style lang="scss">
    main {
        text-align: center;
    }
</style>
