---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Failed | OpenPhones">
    <main>
        <h1>Transaction failed</h1>
        <h2>Your cart has not been cleared.</h2>
        <a href="/">Back to homepage</a>
    </main>
</BaseLayout>

<style lang="scss">
    main {
        text-align: center;
    }

    a {
        background: var(--gradient);
        color: var(--button-text);
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.25s;

        &:hover {
            box-shadow: 0 0 1rem 0 var(--variant);
        }
    }
</style>
