---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Cart - OpenPhones" description="cart">
    <main>
        <div class="header">
            <h1>Cart</h1>
            <h2 id="subtotal"></h2>
            <button id="checkout" type="submit" onclick="checkout()"
                >Checkout</button
            >
        </div>
        <div id="cart"></div>
    </main>
</BaseLayout>

<style lang="scss">
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        button {
            cursor: pointer;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: var(--gradient);
            border: none;
            color: var(--button-text);
            padding: 0.5rem;
            border-radius: 0.5rem;
            transition: all 0.25s;
            font-size: 1.25rem;

            &:hover {
                box-shadow: 0 0 1rem 0 var(--item-bg);
            }
        }

        #cart {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: initial;
        }
    }
</style>

<style lang="scss" is:global>
    .cart-item {
        display: flex;
        gap: 1rem;
        padding: 1.5rem;
        margin: 1rem;
        border-radius: 0.75rem;
        background-color: var(--item-bg);

        @media (max-width: 768px) {
            flex-direction: column;
        }

        img {
            max-height: 12rem;
            border-radius: 0.5rem;
            object-fit: cover;
            align-self: center;
        }

        .details {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            h2 {
                margin-top: 0;
            }

            .price {
                position: absolute;
                align-self: flex-end;

                @media (max-width: 768px) {
                    position: static;
                    align-self: initial;
                }
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;

                @media (max-width: 768px) {
                    white-space: nowrap;
                }
            }
        }
    }
</style>

<script src="../scripts/cartGen.ts"></script>

<script is:inline>
    function checkout() {
        localStorage.clear("cart");
    }
</script>
