---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/cart.scss";
---

<BaseLayout
    title="Cart | OpenPhones"
    description="Get secure GrapheneOS phones without overpaying or sacrificing privacy."
>
    <main>
        <div class="header"></div>
        <div id="cart"></div>
    </main>
</BaseLayout>

<style lang="scss">
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 64rem;
        max-width: 88vw;
        margin: auto;
    }
</style>

<script src="../scripts/cartGen.ts"></script>
<script src="../scripts/checkout.ts"></script>
