---
import BaseLayout from "../layouts/BaseLayout.astro";

import "../styles/cart.scss";
---

<BaseLayout
    title="Cart | OpenPhones"
    description="Get secure GrapheneOS phones without overpaying or sacrificing privacy."
>
    <main>
        <h1 class="empty-cart-text">Add some items to cart!</h1>
        <div class="header">
            <h1>Cart</h1>
            <h2 id="subtotal"></h2>
            <button id="checkout" type="submit">Checkout</button>
        </div>
        <div id="cart"></div>
    </main>
</BaseLayout>

<style lang="scss">
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 64rem;
        max-width: 88vw;
        margin: auto;

        .header {
            display: none;
        }
    }
</style>

<script src="../scripts/cart/cart.ts"></script>
