---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Legal | OpenPhones"
  description="Privacy Policy and Terms of Service"
>
  <main>
    <h1>Legal</h1>
    <h2 id="privacy-policy">Privacy Policy</h2>

    <p>
      This Privacy Policy defines what data OpenPhones.global ("we", "us")
      collect, how we use it, and your rights under privacy regulation.
    </p>

    <h3>What data we collect and what it's used for:</h3>

    <p>
      We do not knowingly collect data on children under the age of 13. For
      those 13 and above, we collect your name, address, payment information,
      email address, and phone number via our payment proccesor, Stripe. This
      information is used for payment proccesing, contacting you, and shipping
      the order.
    </p>

    <h3>How your data is stored and retained:</h3>

    <p>
      Your personal information is retained in Stripe until after the
      transaction is complete and the return period has expired (2 weeks from
      the order date). As per GDPR, you can request to update, see or delete the
      data we have stored on you.
    </p>

    <h3>What we share with 3rd parties:</h3>

    <p>
      As for other 3<sup>rd</sup> parties, the only information we share is the name
      and shipping address provided, in order to fufill the shipment.
    </p>

    <h3>Business transfers:</h3>

    <p>
      In case of a business transfer, all information from Stripe will be
      transferred over to the new owners for the purpose of completing
      transactions.
    </p>

    <h3>Future updates to this policy:</h3>

    <p>
      This policy may be updated over time to accurately reflect how we collect
      your personal information. We may update this privacy policy at any time
      without notice.
    </p>

    <h3>Questions, concerns, and excersing your rights</h3>

    <p>
      If you have any questions or concerns about this privacy policy, or would
      like to excersise your privacy rights, you can contact us at
      <a href="mailto:openphones+legal@proton.me">openphones+legal@proton.me</a
      >.
    </p>

    <h2 id="terms-of-service">Terms of Service</h2>
    <p>
      By using our website, you agree to comply with our terms of service. You
      may not use our website for any illegal or unauthorized purposes. We
      reserve the right to modify or terminate our website at any time. We are
      not responsible for any loss or damage resulting from the use of our
      website. By using our website, you agree to indemnify and hold us harmless
      from any claims, damages, or expenses arising from your use of our
      website.
    </p>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64rem;
    max-width: 88vw;
    margin: auto;
    padding: 1rem 0;
    text-align: justify;

    h1 {
      text-align: center;
    }

    h2 {
      margin: 0.75rem 0;
    }

    h3 {
      margin: 0.5rem 0;
    }

    a {
      color: var(--link);

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin: 0.5rem 0;
    }
  }
</style>
