---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Legal | OpenPhones"
  description="Privacy Policy and Terms of Service"
>
  <main>
    <h1>Legal</h1>
    <h2 id="privacy-policy">Privacy Policy</h2>

    <p>
      We collect the minimum amount of personal information necessary to
      complete transactions. We do not share your information with third parties
      except for the purposes of processing payments and completing
      transactions. Our third-party service providers include:
    </p>
    <ul>
      <li>
        <a
          href="https://www.ovh.com/us/support/termsofservice/#personal-data-protection"
          >OVH for hosting</a
        >,
      </li>
      <li>
        <a href="https://www.cloudflare.com/privacypolicy/"
          >Cloudflare for CDN and DDoS protection</a
        >,
      </li>
      <li>
        <a href="https://stripe.com/privacy">Stripe for payment processing</a>,
      </li>
      <li>
        <a href="https://www.coinbase.com/legal/privacy"
          >Coinbase for cryptocurrency transactions</a
        >,
      </li>
      <li>
        <a href="https://ship.pirateship.com/privacy"
          >Pirateship for shipping in the US</a
        >, and
      </li>
      <li>
        <a href="https://www.parcelmonkey.com/privacy"
          >Parcelmonkey for international shipping</a
        >.
      </li>
    </ul>
    <p>By using our website, you consent to our privacy policy.</p>

    <h2 id="terms-of-service">Terms of Service</h2>
    <p>
      By using our website, you agree to comply with our terms of service. You
      may not use our website for any illegal or unauthorized purposes. We
      reserve the right to modify or terminate our website at any time. We are
      not responsible for any loss or damage resulting from the use of our
      website. By using our website, you agree to indemnify and hold us harmless
      from any claims, damages, or expenses arising from your use of our
      website.
    </p>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64rem;
    max-width: 88vw;
    margin: auto;
    padding: 1rem 0;
    text-align: justify;

    h1 {
      text-align: center;
    }

    ul {
      padding-left: 1.5rem;
      list-style-type: circle;
      text-align: left;
      margin: 0;

      li {
        margin: 0.5rem 0;
      }
    }

    a {
      color: var(--link);

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
