---
const { location } = Astro.props;
---

<div class={location == "footer" ? "footer" : ""}>
    {
        location == "footer" ? (
            <b>Contact Us</b>
        ) : (
            <h2 id="contact-us">Contact Us</h2>
        )
    }
    <span>
        <p>
            <a href="mailto:openphones+support@proton.me" title="Email"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"
                    ><path
                        d="M140 896q-24 0-42-18t-18-42V316q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-302L140 371v465h680V371L480 594Zm0-60 336-218H145l335 218ZM140 371v-55 520-465Z"
                    ></path></svg
                >Email</a
            >
        </p>
        <p>
            <a
                href="https://account.wire.com/conversation-join/?key=cHblfEgHHcaTp38gYXPT&code=b19Sj9WVF5OU1aIZ5Vsn&domain=wire.com"
                title="Wire"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 275.4 226.2"
                >
                    <path
                        d="M275.4 141.2c0 46.9-37.9 84.9-84.8 85-19 0-37.5-6.4-52.4-18.3-15 11.9-33.6 18.4-52.8 18.4-46.9 0-85.4-38.1-85.4-85V7.5h16.2v133.6c.1 38.1 31.1 68.9 69.2 68.8 14.7 0 29-4.8 40.8-13.5-13.4-15.3-20.8-35-20.9-55.3V31.8c.3-17.9 15.1-32.1 33-31.8 17.4.3 31.5 14.4 31.8 31.8v109.3c.1 20.3-7.2 39.9-20.4 55.3 30.4 22.6 73.4 16.3 96-14.1 8.8-11.9 13.6-26.3 13.5-41.2V7.5h16.2v133.7zM153.9 31.8c0-8.9-7.2-16.2-16.2-16.2-8.9 0-16.2 7.2-16.2 16.2v109.3c0 16.2 5.8 31.9 16.2 44.3 10.5-12.4 16.2-28.1 16.2-44.3V31.8z"
                    ></path>
                </svg>Wire</a
            >
        </p>
        <p>
            <a
                href="https://matrix.to/#/#support:matrix.openphones.global"
                title="Matrix"
            >
                <svg
                    role="img"
                    viewBox="0 0 24 24"
                    xmlns'http:
                    www.w3.org
                    2000
                    svg'
                    ><path
                        d="M.632.55v22.9H2.28V24H0V0h2.28v.55zm7.043 7.26v1.157h.033c.309-.443.683-.784 1.117-1.024.433-.245.936-.365 1.5-.365.54 0 1.033.107 1.481.314.448.208.785.582 1.02 1.108.254-.374.6-.706 1.034-.992.434-.287.95-.43 1.546-.43.453 0 .872.056 1.26.167.388.11.716.286.993.53.276.245.489.559.646.951.152.392.23.863.23 1.417v5.728h-2.349V11.52c0-.286-.01-.559-.032-.812a1.755 1.755 0 0 0-.18-.66 1.106 1.106 0 0 0-.438-.448c-.194-.11-.457-.166-.785-.166-.332 0-.6.064-.803.189a1.38 1.38 0 0 0-.48.499 1.946 1.946 0 0 0-.231.696 5.56 5.56 0 0 0-.06.785v4.768h-2.35v-4.8c0-.254-.004-.503-.018-.752a2.074 2.074 0 0 0-.143-.688 1.052 1.052 0 0 0-.415-.503c-.194-.125-.476-.19-.854-.19-.111 0-.259.024-.439.074-.18.051-.36.143-.53.282-.171.138-.319.337-.439.595-.12.259-.18.6-.18 1.02v4.966H5.46V7.81zm15.693 15.64V.55H21.72V0H24v24h-2.28v-.55z"
                    ></path></svg
                >Matrix
            </a>
        </p>
    </span>
</div>

<style lang="scss">
    div {
        display: flex;
        flex-direction: column;

        p,
        a {
            margin: 0.25rem 0;
        }

        a {
            display: inline-flex;
            align-items: center;
            color: var(--link);

            &:hover {
                text-decoration: underline;
            }

            svg {
                height: 1rem;
                padding-right: 0.25rem;
                transition: 0.25s;
            }
        }
    }

    .footer {
        span {
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            align-items: center;
            align-self: flex-start;

            a {
                font-size: 0;

                svg:hover {
                    fill: var(--link);
                }
            }
        }

        @media (max-width: 425px) {
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            align-self: flex-start;

            b::after {
                content: ":";
            }
        }
    }
</style>
