<footer>
    <p>Released under the 0BSD License</p>
    <p>Copyright © 2023 noClaps</p>
    <p>
        <a href="mailto:openphones+contact@proton.me">Contact</a>
        |
        <a href="/about">About</a>
    </p>
</footer>

<style lang="scss">
    footer {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-top: 1px solid var(--variant);
        font-size: 0.75rem;

        p,
        a {
            margin: 0.25rem;
        }
    }
</style>
