---
import Contact from "./Contact.astro";
---

<footer>
  <div class="footer">
    <div class="about">
      <p>
        OpenPhones is an independent company, not affiliated with GrapheneOS or
        Google. Prices in currencies other than USD are estimated, payment
        processors may have different conversion rates. The <a
          href="https://github.com/Openphones/OpenPhones-website"
          >website code</a
        > is licensed under <a
          href="https://github.com/Openphones/OpenPhones-website/blob/main/LICENSE"
          >0BSD</a
        >, and the <a href="https://github.com/Openphones/OpenPhones-server"
          >server code</a
        > is licensed under <a
          href="https://github.com/Openphones/OpenPhones-server/blob/main/LICENSE"
          >GPL-3.0</a
        >.
      </p>
      <p>
        <a href="/about">About Us</a> | <a href="/legal">Legal</a> | <a
          href="https://github.com/Openphones">GitHub</a
        >
      </p>
    </div>
    <Contact location="footer" />
  </div>
</footer>

<style lang="scss">
  footer {
    border-top: 1px solid var(--variant);
    padding: 0.5rem;
    font-size: 0.75rem;

    .footer {
      display: flex;
      justify-content: space-between;
      width: 64rem;
      max-width: 88vw;
      margin: auto;

      @media (width <= 425px) {
        margin: auto;
        flex-direction: column;
      }

      .about {
        width: 50%;
        text-align: justify;
        display: flex;
        flex-direction: column;

        a {
          color: var(--text);
          margin: 0.25rem 0;
          display: inline-flex;
          align-items: center;
          text-decoration: none;
          background-image: linear-gradient(currentcolor, currentcolor);
          background-position: 0 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size 0.3s;

          &:hover {
            background-size: 100% 2px;
          }
        }

        p {
          margin: 0.25rem 0;

          a {
            margin: 0;
          }
        }

        @media (width <= 425px) {
          width: 100%;
        }
      }
    }
  }
</style>
