---
import "../styles/store.scss"
---

<div id="store"></div>

<style lang="scss">
    #store {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
        grid-gap: 1rem;

        @media (max-width: 455px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
</style>

<script src="../scripts/store/store.ts"></script>
