<div id="store"></div>

<style lang="scss">
    #store {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        grid-gap: 1rem;

        @media (max-width: 691px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (max-width: 371px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        @media (min-width: 1400px) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
</style>

<style lang="scss" is:global>
    .store-item {
        position: relative;
        display: flex;
        flex-direction: column;
        color: var(--text);
        text-decoration: none;
        border: 1px solid var(--variant);
        padding: 0.5rem;
        border-radius: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        break-inside: avoid;
        background-color: var(--item-bg);
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            transition: all 0.25s;
            background: var(--gradient);
            filter: var(--filter);
            inset: -0.125rem;
            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
        }

        img {
            border-radius: 0.75rem;
        }

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
</style>

<style lang="scss" is:global>
    .wrapper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(1rem);
        z-index: 2;

        .popup {
            position: fixed;
            display: flex;
            border: 1px solid var(--variant);
            border-radius: 1rem;
            gap: 1rem;
            padding: 1rem;
            background-color: var(--item-bg);
            width: 88vw;
            max-width: 64rem;
            height: fit-content;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media (max-width: 768px) {
                flex-direction: column;

                img {
                    height: 50vh;
                    object-fit: cover;
                }
            }

            img {
                border-radius: 0.75rem;
            }

            .details {
                display: flex;
                flex-direction: column;
                width: 100%;

                p {
                    text-align: justify;
                    flex-grow: 1;
                }

                .purchase {
                    display: flex;
                    justify-self: end;
                    gap: 1rem;
                    align-self: end;
                    align-items: center;
                    font-size: 1.5rem;

                    button {
                        cursor: pointer;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }

                    button[type="submit"] {
                        background: var(--gradient);
                        border: none;
                        color: var(--button-text);
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        transition: all 0.25s;

                        &:hover {
                            box-shadow: 0 0 1rem 0 var(--bg);
                        }
                    }

                    label {
                        font-size: 1rem;
                        cursor: text;
                    }

                    input {
                        border: 1px solid var(--variant);
                        border-radius: 0.5rem;
                        background-color: var(--bg);
                        padding: 0.5rem;
                        color: var(--text);
                        width: 4rem;
                        text-align: center;
                    }
                }
            }

            .close {
                position: absolute;
                right: 0.75rem;
                top: 0.75rem;
                background-color: var(--item-bg);
                fill: var(--text);
                border: none;
                cursor: pointer;
                border-bottom-left-radius: 0.5rem;

                svg {
                    height: 1.5rem;
                }
            }
        }
    }
</style>

<script src="../scripts/createItems.ts"></script>

<script is:inline>
    var cart = JSON.parse(localStorage.getItem("cart"));
    var cartItems = cart ? cart : [];

    function addToCart(item) {
        var button = document.querySelector(`.add-${item}`);
        var quantity = parseInt(button.previousElementSibling.value);

        var existingCartItem = cartItems.find(
            (cartItem) => cartItem.id === item
        );
        if (existingCartItem) {
            existingCartItem.quantity += quantity;
        } else {
            cartItems.push({ id: item, quantity: quantity });
        }

        var cart = JSON.stringify(cartItems);
        localStorage.setItem("cart", cart);

        updateCart();
    }
</script>
