---
import SVG from "./SVG.astro";
---

<button title="Theme toggle" type="button" id="theme-toggle">
  <SVG name="moon" />
  <SVG name="sun" />
</button>

<style lang="scss">
  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--text);
    border: none;
    cursor: pointer;
    position: relative;
    background-color: var(--bg);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      transition: all 0.25s;
      background: var(--gradient);
      inset: 0.5rem;
    }

    &:hover::before {
      inset: -0.125rem;
      filter: var(--filter);
    }
  }
</style>
<script>
  // Dark mode module
  const darkMode = {
    on: false,

    init() {
      // Check if darkMode is stored in sessionStorage, otherwise use prefers-color-scheme
      this.on =
        sessionStorage.getItem("darkMode") ??
        window.matchMedia("(prefers-color-scheme: dark)").matches;

      // Set the body class based on darkMode status
      document.body.className = this.on ? "dark" : "light";
    },

    toggle() {
      // Toggle the darkMode status
      this.on = !this.on;

      // Store the updated darkMode status in sessionStorage
      sessionStorage.setItem("darkMode", this.on);

      // Set the body class based on darkMode status
      document.body.className = this.on ? "dark" : "light";
    },
  };

  // Initialise darkMode
  darkMode.init();

  // Attach event listener to the theme toggle button using addEventListener
  document
    .getElementById("theme-toggle")
    .addEventListener("click", () => darkMode.toggle());
</script>
