name: Build and deploy Astro app

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Check
        run: npx astro check

      - name: Build app
        run: npm run build

      - name: Upload to SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.SFTP_SERVER }}
          username: ${{ secrets.SFTP_USERNAME }}
          ssh_private_key: ${{ secrets.SFTP_PRIVKEY }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: 22
          local_path: ./dist/*
          remote_path: /var/www/html/
