name: Test PR

# Trigger the workflow every time a PR is opened
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Check
        run: npx astro check
